<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <!-- adding navbar -->
    <nav >
        <div>
            <ul>
                <li>
                    <a href="#">Flask Market</a>
                </li>
                <li>
                    <a href="{{url_for('home_page') }}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('market_page') }}">Market</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
        </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
</body>
</html>